<!--The content below is only a placeholder and can be replaced.-->
<div id="everything">

  <article>
    <h1>
      QC shuttle bus
    </h1>
    <h2>
      at Sutphin and Hillside
    </h2>
    <h3>
      Now featuring Angular 7!
    </h3>
    <div id="currentTime">
    </div>

    <div id="lastUpdated">
      {{ lastUpdated }}
    </div>

    <div id="bus-data">
      <div class="status-message">First bus is scheduled to arrive at <span id="First-bus"></span></div>
      <div class="status-message">Second bus is scheduled to arrive at <span id="Second-bus"></span></div>
      <div class="status-message">Third bus is scheduled to arrive at <span id="Third-bus"></span></div>
    </div>
  </article>
  <div class="svg-display" id="astroSvg"><svg id="Layer_1" viewBox="0 0 133 181" xmlns="http://www.w3.org/2000/svg"><filter height="100%" id="filter-7" width="100%" x="0%" y="0%"><feGaussianBlur in="SourceGraphic"></feGaussianBlur></filter><filter height="100%" id="filter-6" width="100%" x="0%" y="0%"><feGaussianBlur in="SourceGraphic"></feGaussianBlur></filter><filter height="100%" id="filter-4" width="100%" x="0%" y="0%"><feGaussianBlur in="SourceGraphic"></feGaussianBlur></filter><filter height="100%" id="filter-3" width="100%" x="0%" y="0%"><feGaussianBlur in="SourceGraphic"></feGaussianBlur></filter><filter height="100%" id="filter-2" width="100%" x="0%" y="0%"><feGaussianBlur in="SourceGraphic"></feGaussianBlur></filter><filter height="100%" id="filter-1" width="100%" x="0%" y="0%"><feGaussianBlur in="SourceGraphic"></feGaussianBlur></filter><title>Astro</title><g id="EE"><g id="iPhone-X-Copy" transform="translate(-230 -145)"><g id="Group-9" transform="translate(8 68)"><g id="Astro" transform="matrix(-1 0 0 1 355 77)"><g transform="matrix(-1 0 0 1 135 0)"><ellipse class="st0" cx="73.9" cy="173.5" id="AstroShadow" rx="33.1" ry="7.4"></ellipse><g id="Tail" transform="scale(-1 1) rotate(10 -581.478 -285.7)"><path class="st1" d="M.1 25.4c1.2 2.8 3.1 4 5.9 3.4 1.4-.3 5.7-1.8 7.7-4.1 2.3-2.6 4.4-6.9 4.6-9.8.1.6 1 2.7.8 4.5.8-2.5 1.5-6.6 6-11.7C29.3 2.8 35.8.9 38.9.3 37.7 1.6 37 1.9 36.3 4c5.2-2.6 11.2-2.9 16.2-.3 6.8 3.4 7.2 11.9 5.8 14.4-1.1-2.1-4.3-4.1-8.2-1.9-3.9 2.2-2.9 8-3 15.1-.1 7.1-2.4 13.5-11.2 19.4 1.3.4 2.8.2 5.4-1-2.6 3.2-10 6.2-15.7 6.6-2.9.2-5-.3-7-.6.8.9 1.8 1.2 3.4 2.3C6.4 57.9-.3 44.5.1 42.9c.2-1.1.2-6.9 0-17.5z" id="TailBKGD"></path><g class="st2" id="TailLight3"><path class="st3" d="M18.2 15c-.1.9-.3 1.6-.4 2.1-.1.4-.5 1.3-1 2.6l5.6 4.9 1.1 9.1 5.4-1.9-1 6.5 6 1.9L35 53.9c1.6-.8 2.7-1.4 3.3-1.7 1.9-1.1 2.6-2.1 2.9-2.4-.5.2-1.8.7-3.4 1-.6.1-1.3.1-2.1-.1 1.9-1.3 3.2-2.3 4-3 .8-.7 1.6-1.6 2.5-2.7L38 35.7l-6-1.6-.4-5.6.1-6.9-3.8 2.3.2-6.1-5.1 3.6-1.7-8.4c-.6 1.1-.9 1.9-1.2 2.4-.2.5-.6 1.8-1.1 3.8 0-.9-.1-1.6-.2-2-.1-.4-.3-1.2-.6-2.2z"></path></g><g class="st4" id="TailLight2"><path class="st3" d="M9.8 34.9l3.8-1.6-1.3 6 3.8 4.2-3.1 6 1.3 2.3L9 54.3l1.6.9h7.3l3.3-2.3-2-5.3 3.9-4.7-5.5-6.3 1.9-9.9-5.5 1.9-2-2.5c-.8.5-1.5.9-1.9 1.1s-.8.4-1 .6l.7 7.1z"></path></g><g class="st5" id="TailLight1"><path class="st3" d="M28.5 8.3l5.7 2.3s.2 4 .7 11.9l2.9-3.2.9 6.2 4 1.2-1.4 9.8 5.5-8.6V25c0-.6 0-1.6.1-2.8l-3.7-2.7-1.1-9.3-4.6 3 1.8-9.5L35 4.9l-.3-3.4c-.7.2-1.3.4-1.6.5-.3.1-.6.3-.8.4l-3.8 5.9z"></path></g><linearGradient gradientTransform="matrix(-57.8209 -10.0338 10.1954 -56.9043 101887.563 195767.734)" gradientUnits="userSpaceOnUse" id="TailShadow_1_" x1="2296.445" x2="2294.553" y1="3034.913" y2="3034.551"><stop offset="0" stop-color="#645143" stop-opacity="0"></stop><stop offset="1" stop-color="#030100"></stop></linearGradient><path class="st6" d="M.1 25.4c1.2 2.8 3.1 4 5.9 3.4 1.4-.3 5.7-1.8 7.7-4.1 2.3-2.6 4.4-6.9 4.6-9.8.1.6 1 2.7.8 4.5.8-2.5 1.5-6.6 6-11.7C29.3 2.8 35.8.9 38.9.3 37.7 1.6 37 1.9 36.3 4c5.2-2.6 11.2-2.9 16.2-.3 6.8 3.4 7.2 11.9 5.8 14.4-1.1-2.1-4.3-4.1-8.2-1.9-3.9 2.2-2.9 8-3 15.1-.1 7.1-2.4 13.5-11.2 19.4 1.3.4 2.8.2 5.4-1-2.6 3.2-10 6.2-15.7 6.6-2.9.2-5-.3-7-.6.8.9 1.8 1.2 3.4 2.3C6.4 57.9-.3 44.5.1 42.9c.2-1.1.2-6.9 0-17.5z" id="TailShadow"></path></g><path class="st7" d="M84.6 146.6c-2.5 7.7-5.1 12.5-7.6 14.5-2.5 1.9-1.3 5.5 3.8 10.6 7-5.1 12-10.6 15.2-16.4 2.5-4.6 3.5-11.9 2.9-19.3-.1-1.3-.4-2.9-1-4.8l-5.7-1.9-7.6 17.3z" id="RightLeg"></path><path class="st8" d="M83.7 149.1c-2 5.6-3.9 9.1-5.8 10.7-2 1.7-.5 13.7 2.2 11 .5-.5-.4-8.6 0-9.9.3-1 1.6-2.3 2.3-3.1 1-1.2 1.9-2.5 2.8-3.8 2.8-4.4 4.3-11.6 4.2-19 0-1.3-.2-2.9-.6-4.9l-5.6-2.3.5 21.3z" id="RightLegShadow"></path><g id="Group-3" transform="rotate(-14 450.837 -226.64)"><path class="st8" d="M14.8 3.8c12 14.1 19.3 22.2 21.9 24.1 3.8 2.9 5.7 5.8 4.8 7.7-1 1.9-1.9 5.8-9.5 3.9-5.1-1.3-10.5-7.4-16.2-18.3L.5.9l14.3 2.9z" id="RightArm"></path><path class="st7" d="M16.3 5.8c2.8 3 4.9 5.5 6.5 7.3 4.3 5 8.7 9.7 11.6 12.8 2.4 2.5 2.7 6.3 2.3 7.5-1.6 4.4-1.2 4.9-2.6 4.2-1.9-.9-3.9-2.7-6-5.9-1.1-1.7-2.6-4.9-4.8-9.7-.5-1.2-1.5-3.1-2.9-5.8L1.8 4.9l14.5.9z" id="RightArmShadow"></path></g><path class="st7" d="M46.6 85.8c-7 4.5-10.1 8-9.5 10.6.8 3.3 15.2 9.5 15.2 11.6 0 6.8 2.9 18.3 3.8 23.2.6 3.2 2.9 9 6.7 17.4v10.6c0 4.8 0 9.6 1.9 12.5s3.8 4.8 9.5 5.8 7.6-2.9 6.7-7.7S79 163 79 158.2c0-3.2.3-5.8 1-7.7 6.3-1.9 11.1-4.5 14.3-7.7 4.8-4.8 5.7-4.8 3.8-14.5s-10.5-22.2-13.3-25.1c-2.1-1.9-14.8-7.7-38.2-17.4z" id="Body"></path><g class="st9" id="BodyShadow1"><path class="st8" d="M52.8 114.3c1.2-.4 2.1-.6 2.6-.5s1.7.4 3.5 1l-5.8 1.8c-.1-.5-.2-.9-.2-1.1 0-.3 0-.7-.1-1.2z"></path></g><g class="st10" id="LegShadow"><path class="st8" d="M62.8 163.5c.1 1.3.3 2.5.6 3.5.9 2.7 2.6 4.3 4.9 5.7 3.7 2.3 7.7 3.2 11.9 2.8-.7 1.7-3.2 2.3-4.7 2.2-1.5-.1-6.7-.6-9.6-4.2-.6-.7-1.6-2.1-2.3-3.9-.6-2.3-.8-3.7-.8-6.1z"></path></g><path class="st8" d="M87.5 147.5c-.9.3-1.9.6-3.2.8-1.9.3-2 .3-3.5.3-.6 1.3-1 1.9-1 1.9 1.3-.4 2.6-.8 3.9-1.3.7-.3 1.7-.2 2.4-.5.5-.3.9-.6 1.4-1.2z" id="BodyShadow2"></path><path class="st7" d="M126.6 44.2c2.9 7.9 3.5 17.2 1.3 27.6-6.1 26.2-27.7 39.6-58 32-33.2-7.6-46-34.6-39.9-56.9 3.1-11.3 9.4-21.5 19.6-27.6 9.6-31.1 21.4-16.1 27-5.9 4.7.3 9.7 1.1 15.2 2.5 7.7 1.9 14.5 5 20.1 9.1 5.9-2.1 33-10.3 14.7 19.2z" id="HeadOutline"></path><path class="st8" d="M124.4 22.2c2.4.2 3.9.4 4.5.7 2.4 1.1 2.5 1.6 3 2.3-3.3-1.1-7-1.2-11.2-.1-5.1 1.3-8.2 3.2-9.5 5.8C91 19.3 72.9 20.9 57 35.7 45.8 46.1 40 62.6 45.6 80.1c2.3 7.3 5.7 12.5 15.2 18.3 4.3 2.6 10.4 5.4 17.9 7.3-8.2-1.3-13.8-3.3-18.1-4.6-1.3-.4-2.7-.7-4.4-1.1-8-4.5-13.4-8.3-16.3-11.3s-6.8-9.2-11.7-18.4c0-12.8 1-22.3 3.2-28.3 3.4-9.9 9.5-17.6 18.2-23.1C53.2 7 57.6.9 62.7.5c4.4-.2 9.1 4.1 14 12.8 5.7.4 10.9 1.2 15.7 2.5 8.4 2.4 16.3 6.5 19.4 9 4.6-1.6 8.8-2.4 12.6-2.6z" id="HeadShadow"></path><path class="st11" d="M75.2 100.4c21.8 5.4 37.3-4.1 41.6-22.8 4.3-20.7-6.9-35.2-26-39.9-21.8-6.8-38 5.4-42.3 22.8s2.9 34.5 26.7 39.9z" id="Face"></path><path class="st12" d="M64.3 49.2c-3.5 6.2-5.6 10.6-6.4 13.3-3.8 12.7-3.4 23.9 1.6 31.2-2.4-1.8-6.4-5-9.6-11.5-2-4.1-2.8-9.6-2.3-16.5l17.7-25.9-1 9.4z" id="Path-10"></path><path class="st13" d="M55.1 57c0 1.1 0 3.9 2.8 6.7 1-2.9 1-9.6 8.6-15.4 0 .5 7.6 8.7 15.2 7.7-.7-.5-1.9-7.7-.9-11.6 1.9 0 19.6 5.4 24.7 23.1 1-1 3.8-6.8 2.9-12.5 5.7 6.8 4.7 17.3 3.8 19.3 2.4 0 5.5-4 5.5-4.9 0-.2.3-3.3-1-8.4-2.1-8.5-7-13.7-13.1-17.9-6.8-4.6-24-11-37.6-4.6-8.6 4-12.7 10-15.4 15.7-3.8 8.1-3.6 16.8-2.4 22.5.5-5.2 3.1-14.3 6.9-19.7z" id="Hair"></path><path class="st13" d="M73.1 72.3c-.7 3.7-3.4 6.2-6 5.7s-4.1-3.9-3.3-7.5c.7-3.7 3.4-6.2 6-5.7 2.6.4 4 3.8 3.3 7.5" id="LeftEye"></path><path class="st13" d="M108.2 80.2c-.9 3.6-3.7 6-6.3 5.4-2.5-.6-3.8-4-2.9-7.6.9-3.6 3.7-6 6.3-5.4 2.6.6 3.9 4 2.9 7.6" id="RightEye"></path><path class="st8" d="M20 85.8c3.8 9 7.9 15.1 12.4 18.3C46.6 115.8 57 114.8 59 114.8c1.3 0 1.9-4.5 1.9-13.5-7.6-3.9-12-6.8-13.3-8.7s-2.9-6.4-4.8-13.5L20 85.8z" id="LeftArmDark"></path><path class="st7" d="M24.6 83.5c3.2 9.2 6.9 15.6 11.1 19.1 13.4 12.5 23.9 12.3 25.8 12.4 1.3.1 2.2-4.2 2.9-12.9-6.9-2.9-12.1-6-15.4-9.3-3.4-3.3-5.4-7.3-6-12l-18.4 2.7z" id="LeftArmLight"></path><path class="st8" d="M39 84.9c.3 6.2-4.7 9.1-15.2 8.7-1.3-4.2-2.1-8.1-2.6-11.6h15l2.8 2.9z" id="LeftArmShadow"></path><path class="st14" d="M46.7 78.4c4.7-5.2 5.7-8.7 2.4-12.2-1.8-2-4.4-.3-6.4 1.5-1 .9-2.6.4-2.8-1-.5-3.7-2-8.9-6.4-11.4-7.2-4-13.4-3-17.7 3.5-4 6.1-5.5 17.3 2.7 27.7 3.5 4.5 11 5.8 14.9 4.5 6.9-2.4 8.7-7.4 13.3-12.6z" id="LeftHand"></path><path class="st15" d="M15.9 58.8c-4 6.1-5.2 17.1 2.7 27.7 3.3 4.5 11 5.8 14.9 4.5 3.6-1.2 5.8-3.2 7.8-5.7-3.2 1.4-3.7 1.9-9.3 1.4-3.3-.3-7.2-2.4-10-4.7-2.7-2.2-4.8-6.8-5.5-12-.7-3.7-.8-7.5-.6-11.2z" id="LeftHandDark"></path><path class="st16" d="M57.2 20.8C55 16.5 58.4 3.7 64.1 3.3c0 0 2.6.3 3.8 2.1 0 0 9.2 12 2 16.1-6.3 3.6-11.3 2.1-12.7-.7" id="InnerEarLeft"></path><path class="st17" d="M123.1 41.8c3.9-1.3 9.4-11.2 6.1-14.9 0 0-1.8-1.3-3.7-1 0 0-13.1 1.7-10.9 8.7 1.9 5.9 6 8.1 8.5 7.2" id="InnerEarRight"></path><path class="st18" d="M86.7 140.3c6.7-2.4 6.9-9.5 6.3-15.2-.6-5.8-3.8-11.2-9.6-10.7-10.6.5-11.7 7.2-10.3 12.4 1.6 8 6 15 13.6 13.5z" id="Tummy"></path></g><g id="Phone" transform="matrix(-1 0 0 1 39 100)"><path class="st19" d="M38.9 10.1v1.4c0 .2-.1.4-.2.5L7.8 35.3c-.2.2-.6.2-.8 0l-1-.9c-.4-.4-.7-.9-.7-1.4l-.6-4.5 14.1-10L33.1 5.3l5.3 3.9c.3.2.5.5.5.9z" id="PhoneSide"></path><path class="st20" d="M.5 19.6L27.2 1.2c.2-.1.5-.1.7 0l10.6 8c.3.2.3.6.1.8l-.1.1L6.4 34c-.3.2-.6.1-.8-.1l-.1-.1L.2 20.3c-.1-.3 0-.6.3-.7z" id="PhoneBody"></path><path class="st21" d="M3 19.5L26.5 3.2c.1-.1.3-.1.4 0L35 9.8c.1.1.1.3 0 .4l-.1.1L8.3 29.9c-.1.1-.3.1-.4-.1L3 19.9c-.1-.2-.1-.3 0-.4z" id="PhoneScreen"></path><path class="st22" d="M3 19.5l2.3-1.6 5.5 10-2.6 1.9c-.1.1-.3.1-.4-.1l-4.9-9.9c0-.1 0-.2.1-.3z" id="PhoneBar"></path><path class="st21" d="M22.2 6.2l7.8 7.9 5-3.7c.1-.1.2-.3.1-.4l-.1-.1-8.1-6.7c-.1-.1-.3-.1-.4 0l-4.3 3z" id="PhoneHeader"></path><path class="st23" d="M30.1 13.9l4.6-3.5c.1-.1.1-.3 0-.4L28 4.2 25.7 7c-1.8 2.2-4.6 5.5-7.9 9.5-2.4 2.9-5.1 6.1-7.9 9.5-.4.4-.9 1.8-1.5 3.9l21.7-16z" id="Combined-Shape"></path></g><g id="Hand" transform="translate(4 112)"><g id="Group-4" transform="matrix(-1 0 0 1 25.222 0)"><path class="st14" d="M15.4 18.9c4.7-3.3 6.2-5.6 5.7-10.8-1-6.8-10.6-6.3-11.8-2.2-.7 2.6-2.7 5-4.2 6.8-.9 1.1-.9 2.1-.9 3.6 0 4.1 6.5 5.9 11.2 2.6z" id="HandBack"></path><path class="st24" d="M4.8 13.1c0 2.5 2.1 5.5 6.1 5.4 2.4-.1 5.5-1.6 9.1-4-.8 1.4-2.4 3.7-4.7 5.2-2.4 1.5-4.8 2-7.2 1.8S3.5 19 3.5 18.1c0-.8-.6-2.2 1.3-5z" id="handBackShadow"></path></g></g></g></g></g></g></svg></div>
  <div class="createIssue">
    If you have any questions or comments, please email us at
    <a href="mailto:incoming+qcbus/qcbus.gitlab.io@incoming.gitlab.com?subject=Issue with QC Bus">
      incoming+qcbus/qcbus.gitlab.io@incoming.gitlab.com
    </a>.
  </div>
</div>