.status-message
    font-family: sans-serif
    border-bottom: 1px solid #000
    padding: 2em

#currentTime, #lastUpdated, .createIssue
    font-family: sans-serif
    font-size: 0.6em
    padding: 2em

#everything
    text-align: center
    color: #ffffff