/* You can add global styles to this file, and also import other style files */
body
  animation: aa 5s cubic-bezier(1, 0, 0, 1) infinite

@-webkit-keyframes aa
  0%
    background-color: #263238

  33%
    background-color: #3E2723

  67%
    background-color: #212121

  100%
    background-color: #263238


@keyframes aa
  0%
    background-color: #263238

  33%
    background-color: #3E2723

  67%
    background-color: #212121

  100%
    background-color: #263238